<h1>Largest Prime Finder</h1>
<form action="/side-input-form">
  <div class="form-group">
     <label for="side-one">Enter length of side one</label>
     <input id="side-one" name="side-one" class="form-control" type="text">

     <label for="side-two">Enter length of side two</label>
     <input id="side-two" name="side-two" class="form-control" type="text">

     <label for="side-three">Enter length of side three</label>
     <input id="side-three" name="side-three" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Find Triangle</button>
</form>
